main{
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10dvh;
}

a{
    font-size: 1rem;
    color: #000;
    text-decoration: underline;
    transition: color 0.2s ease-in-out;

    &:hover{
        color: rgb(12, 116, 151);
    }

}

.interface-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

form{
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    border-radius: 20px;
    border: 1px solid #000;
}

.title{
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 20px;
    text-align: center;
}

.flex{
    display: flex;
    gap: 25px;
    align-items: center;
}

.infos{
    margin-bottom: 30px;

    .recuperar{
        margin-left: 5px;
    }

}

.btns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
    gap: 20px;


    button{
        padding: 10px 20px;
        border-radius: 8px;
        font-family: "Poppins", sans-serif;
        background-color: #245ca6;
        color: white;
        font-weight: bolder;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

        &:hover{
            background-color: white;
            color: #245ca6;
        }


    }

}


.register{
    margin-left: 10px;
}


@media (max-width: 768px){
    form{
        width: 380px;
    }
}